.pointer{
    cursor: pointer;
}
header{
    background-color:#b97a45;
}
body{
    background-color: black;
    color: aliceblue;
}
.card{
    background-color: black;
    border: 2px solid #b97a45;
    border-radius: 18%;
    align-items: center;
    cursor: pointer;
    width: 393px;
    height: 493px;
}
.card2{
    height: auto;
    width: auto;
    border: 2px solid #b97a45;
    border-radius: 25%;
}

#bg-image{
    align-items: center;
    height: 55%;
    width: 55%;
}